.message{
  margin: 0 10px 20px 0;
  display: flex;
  color: white;

  &__info{
    margin-left: 20px;
  }

  &__timestamp{
    color: gray;
    margin-left: 20px;
    font-size: smaller;
  }

  &__content{
    margin-top: 4px;
  }
}